*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
line-height:1.6;
}

header{
display:flex;
justify-content:space-between;
padding:20px 10%;
background:#111;
color:white;
}

nav a{
margin:0 15px;
color:white;
text-decoration:none;
}

.start-btn{
background:#00c896;
border:none;
padding:10px 15px;
color:white;
cursor:pointer;
}

.hero{
text-align:center;
padding:120px 20px;
background:#f4f4f4;
}

.hero h1{
font-size:50px;
margin-bottom:10px;
}

.hero button{
margin-top:20px;
padding:12px 25px;
background:#00c896;
border:none;
color:white;
cursor:pointer;
}

section{
padding:80px 10%;
text-align:center;
}

.service-box{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
margin-top:40px;
}

.card{
background:#f4f4f4;
padding:30px;
border-radius:8px;
}

.project-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
margin-top:40px;
}

.project{
background:#f4f4f4;
padding:30px;
border-radius:8px;
}

footer{
background:#111;
color:white;
padding:20px;
text-align:center;
}

.form-popup{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
justify-content:center;
align-items:center;
}

.form-box{
background:white;
padding:30px;
width:300px;
border-radius:8px;
display:flex;
flex-direction:column;
gap:10px;
}

.form-box input{
padding:10px;
}

.submit{
background:#00c896;
border:none;
padding:10px;
color:white;
cursor:pointer;
}

.close{
background:red;
border:none;
padding:10px;
color:white;
cursor:pointer;
}
