#hire{
padding:80px 10%;
text-align:center;
background:#f4f4f4;
}

.hire-links{
display:flex;
justify-content:center;
gap:40px;
margin-top:30px;
flex-wrap:wrap;
}

.hire-links a{
text-decoration:none;
color:black;
text-align:center;
}

.hire-links img{
width:70px;
margin-bottom:10px;
}
